<div
  class="template shadow-lg overflow-hidden flex flex-col gap-[0.5rem] my-[2rem] bg-white"
  id="template"
  #template
>
  <header class="py-[1.2rem] grid grid-cols-[10rem_1fr]">
    <div
      class="img-container ml-[2rem] w-[10rem] h-[10rem] rounded-full col-1"
    >
      <img src="./default.jpg" alt="" />
    </div>
    <div
      class="user-info-container py-[2.5rem] flex flex-col justify-center pl-[5.5rem] col-2"
    >
      <h2 class="username text-[2.2rem] pb-[1rem]">Loremn Ipsunm</h2>
      <p class="user-job text-[1.4rem]">Sales Representative</p>
    </div>
  </header>
  <section class="resume-info-section flex gap-[1.2rem] h-full">
    <aside
      class="details flex-[0_0_42%] px-[2.5rem] rounded-t-[3.5rem] flex flex-col gap-[1.5rem]"
    >
      <ul class="info-list mt-[2rem]">
        <li class="info-item">
          <lucide-icon [img]="phoneIcon" class="my-icon"></lucide-icon>
          <span class="data">+123 828 900 123</span>
        </li>
        <li class="info-item">
          <lucide-icon [img]="emailIcon" class="my-icon"></lucide-icon>
          <span class="data">lorem@gmail.com</span>
        </li>
        <li class="info-item">
          <lucide-icon [img]="locationIcon" class="my-icon"></lucide-icon>
          <span class="data">Kupondole, Lalitpur</span>
        </li>
      </ul>

      <article class="education-list">
        <h2 class="text-[1.4rem] pb-[0.8rem] border-b">Education</h2>
        <ul class="edu-list pt-[0.8rem] flex flex-col gap-[0.5rem]">
          <li class="edu-item flex flex-col gap-[0.1rem]">
            <p class="data text-[1rem]">BA Salses and Commerce</p>
            <p class="text-[0.9rem] font-medium">Wales University</p>
            <p class="date text-[0.8rem]">2011 - 2016</p>
          </li>
          <li class="edu-item flex flex-col gap-[0.1rem]">
            <p class="data text-[1rem]">BA Salses and Commerce</p>
            <p class="text-[0.9rem] font-medium">Wales University</p>
            <p class="date text-[0.8rem]">2011 - 2016</p>
          </li>
        </ul>
      </article>
      <article class="skills-list-container">
        <h2 class="text-[1.4rem] pb-[0.8rem] border-b">Skills</h2>
        <ul
          class="skill-list pt-[0.8rem] flex flex-col gap-[0.5rem] list-disc ml-[1.2rem]"
        >
          <li class="skill-item text-[1rem]">React</li>
          <li class="skill-item text-[1rem]">Angular</li>
          <li class="skill-item text-[1rem]">TailwindCSS</li>
          <li class="skill-item text-[1rem]">Vite</li>
        </ul>
      </article>
      <article class="language-list-container">
        <h2 class="text-[1.4rem] pb-[0.8rem] border-b">Language</h2>
        <ul class="language-list flex flex-col gap-[0.5rem] pt-[0.8rem]">
          <li class="text-[1rem]">English</li>
          <li class="text-[1rem]">Nepali</li>
        </ul>
      </article>
    </aside>
    <article
      class="detail-container grow pr-[1.2rem] pt-[1rem] flex flex-col gap-[1.2rem]"
    >
      <section class="about-me">
        <h2 class="text-[1.4rem] pb-[0.8rem] border-b">About Me</h2>
        <p class="text-[0.8rem] pt-[0.8rem]">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, animi
          quam deleniti eius qui commodi illo ipsum ullam nemo quia nihil
        </p>
      </section>
      <section class="work-experience">
        <h2 class="text-[1.4rem] pb-[0.8rem] border-b">Work Experience</h2>
        <ul class="pt-[0.8rem] experience-list flex flex-col gap-[0.5rem]">
          <li class="exp">
            <div class="duration flex item-center gap-[1.2rem] text-[0.65rem]">
              <span
                class="start relative after:content-[''] after:absolute after:left-[calc(calc(100%+calc(1.2rem/2))-calc(0.5rem/2))] after:w-[0.5rem] after:h-[0.1rem] after:bg-neutral-500 after:top-[50%] after:translate-y-[-50%]"
                >Aug 2018</span
              >
              <span class="end">Present</span>
            </div>
            <div class="company text-[0.7rem]">Gotham Studios</div>
            <div class="position text-[0.85rem]">
              Frontend Developer
            </div>
            <ul
              class="list pt-[0.2rem] text-[0.7rem] flex flex-col list-disc pl-[1.4rem]"
            >
              <li>Lorem, ipsum dolor sit amet consectetur</li>
              <li>Lorem, ipsum dolor sit amet consectetur</li>
              <li>Lorem, ipsum dolor sit amet consectetur.</li>
            </ul>
          </li>
          <li class="exp">
            <div class="duration flex item-center gap-[1.2rem] text-[0.65rem]">
              <span
                class="start relative after:content-[''] after:absolute after:left-[calc(calc(100%+calc(1.2rem/2))-calc(0.5rem/2))] after:w-[0.5rem] after:h-[0.1rem] after:bg-neutral-500 after:top-[50%] after:translate-y-[-50%]"
                >Apr 2017</span
              >
              <span class="end">Aug 2018</span>
            </div>
            <div class="company text-[0.7rem]">Gotham Studios</div>
            <div class="position text-[0.85rem]">
              Frontend Developer
            </div>
            <ul
              class="list pt-[0.2rem] text-[0.7rem] flex flex-col list-disc pl-[1.4rem]"
            >
              <li>Lorem, ipsum dolor sit amet consectetur</li>
              <li>Lorem, ipsum dolor sit amet consectetur</li>
              <li>Lorem, ipsum dolor sit amet consectetur.</li>
            </ul>
          </li>
          <li class="exp">
            <div class="duration flex item-center gap-[1.2rem] text-[0.65rem]">
              <span
                class="start relative after:content-[''] after:absolute after:left-[calc(calc(100%+calc(1.2rem/2))-calc(0.5rem/2))] after:w-[0.5rem] after:h-[0.1rem] after:bg-neutral-500 after:top-[50%] after:translate-y-[-50%]"
                >Jan 2015</span
              >
              <span class="end">Apr 2017</span>
            </div>
            <div class="company text-[0.7rem]">Gotham Studios</div>
            <div class="position text-[0.85rem]">
              Frontend Developer
            </div>
            <ul
              class="list pt-[0.2rem] text-[0.75rem] flex flex-col list-disc pl-[1.4rem]"
            >
              <li>Lorem, ipsum dolor sit amet consectetur</li>
              <li>Lorem, ipsum dolor sit amet consectetur</li>
              <li>Lorem, ipsum dolor sit amet consectetur.</li>
            </ul>
          </li>
        </ul>
      </section>
    </article>
  </section>
</div>
